<div class="hello">
<h1>Project Tasks</h1>

<tabl>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <li>
      <%= link_to task.name, tasks_path %>
    </li>
    <% end %>
  </tbody>
</table>

<br>
</div>
<style>
  .hello{
    content: center;
    padding-left: 40%;
    background-color: lightgreen;
  }
</style> 