<div class="hello">
<h1>projects</h1>

<tabl>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.each do |project| %>
      <li>
      <%= link_to project.name, projects_path %>
    </li>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
</div>
<style>
  .hello{
    content: center;
    padding-left: 40%;
    background-color: lightgreen;
  }
</style> 